 body {
margin: 0;

 }
* {
    border: 2px solid red;
}

/* remove above "*" to remove box visual */


 .header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
 }

 .Headlogo {
    align-self: center;
    font-size: 28px;
    margin-left: 2cm;
   color: #f9faf8;

 }

 .Headlinks {
    justify-content: right;
    margin-right: 2cm;
    font-size: 18px;
    color: #e5e7eb  ;
    

 }

 ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    
 }

 ul li a {
   color: white;
   list-style-type: none;
   padding: 5px;
 }

 .topbanner {

    background-color: #1f2937;
 }


.HotGods {
   display: flex;
   justify-content: center;
   
}

.HGsum { 
   margin: 7px;
   padding: 5px;
   display: flex;
   align-self: flex-start;
   font-weight: bolder;
   color: #1f2937;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: 2px;
  background: rgba(151, 144, 144, .5);
  
}


.HotGodlinks {
   justify-content: center;
   margin-top: 50px;
   
}

 img {
    padding: 15px;
    height: 125px;
    width: 125px;
   align-self: center;

    

 }

 .g4 {
    border: 2px solid gold;
 }

 li {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

main {

   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

.Tellus {
   font-size: 48px;
   font-weight: bolder; 
   color: #f9faf8;
   padding: 10px;
}

.expl {
   font-size: 18px;
   color: #e5e7eb;
   padding: 5px;
}

.left {
   margin: 25px;   
   padding: 25px;

}

img.img1 {
   width: 400px;
   height: 250px;
   margin: 25px;
   margin-left: 40px;
   padding: 30px;
}

 Button .Sub {
        display: flex;
        border: 10px;
    padding: 20px 22px;
    text-transform: uppercase;
    border-radius: 8px;
    transition-duration: 0.4s;
    border: 2px solid red;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
 }

 .Sub:hover {
   background-color: grey;
   color: black
 }

 .HGsum {
   display: flex;
   justify-content: center;
 }

 img .g4 {

 }