 body {


 }
* {
    border: 2px solid red;
}

/* remove above "*" to remove box visual */


 .header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
 }

 .Headlogo {
    align-self: center;
    font-size: 28px;
    margin-left: 2cm;
color: #f9faf8;

 }

 .Headlinks {
    justify-content: right;
    margin-right: 2cm;
    font-size: 18px;
    color: #e5e7eb  ;
    

 }

 ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    
 }

 .topbanner {

    background-color: #1f2937;
 }


 img {
    padding: 15px;
    height: 125px;
    width: 125px;
   align-self: center;
    width: auto;
    display: flex;

 }

 .g4 {
    border: 2px solid gold;
 }

 li {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }